
/*Reset to prevent brower specific paddings and margins*/
* {
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
}

nav{
    background: #efefef;
    overflow: hidden;
    position: absolute;
    width: 100%;
    box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

.logo-section{
    float: left;
    padding: 18px;
    /* font-family: serif; */
}

.hamburger.hamburger--collapse{
    float: right;
    /* background: #222;
    color: #ffffff;
    border: none; */
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    padding: 5px;
}

nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: left;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

nav ul li{
    /* text-align: left; */
    display: inline-block;
    padding: 20px;
}

li > a{
    position: relative;
    color: #000;
    text-decoration: none;
}

li > a:hover{
    color: #000;
}

li > a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

li > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media screen and (max-width: 600px){
    .logo-section{
        float: none;
    }
    nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .hamburger.hamburger--collapse{
        display: inline;
    }
}

.main {
	background-image: url(../images/background.jpg);
	background-size: cover;
    background-position: center 50%;
	min-height: 400px;
    line-height: 400px; 
    overflow: hidden;
}

.main, .info-Block {
	text-align: center;
	vertical-align: middle;
    overflow:hidden;
}

.main .main-text, .info-Block-Text {
	width: 66%;
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
    overflow: hidden;
}

/* increase width of info block on mobile */
@media screen and (max-width: 600px) {
    .main .main-text, .info-Block-Text {
        width: 90%;
    }
}

.main .main-text {
	color: #fff;
}

.info-Block p, .info-Block-Text p {
	font-size: 18px;
	font-weight: 300;
}
.ContactDetails {
	padding: 2em 0em;
	background-color: #313138;
	margin-top: 15px;
    color: white;
    width: 100%;
    overflow: hidden;
    text-align: center;
} 

#socials a {
	color: #caccce;
}


html{
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(255, 255, 255);
}

/* Straight stolen from bootstrap */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h3, h3 {
    font-size: 24px;
}

.h4, h4 {
    font-size: 18px;
}

/* to use later */
/* @keyframes slidein {
    from {
        margin-left: 100%;
        width: 200%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
} */
